wsArduino-Server/Arduino.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://interfaces/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://interfaces/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces/" schemaLocation="Arduino_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="turnOnLED">
    <part name="parameters" element="tns:turnOnLED"/>
  </message>
  <message name="turnOnLEDResponse">
    <part name="parameters" element="tns:turnOnLEDResponse"/>
  </message>
  <message name="ArduinoServiceException">
    <part name="fault" element="tns:ArduinoServiceException"/>
  </message>
  <message name="turnOffLED">
    <part name="parameters" element="tns:turnOffLED"/>
  </message>
  <message name="turnOffLEDResponse">
    <part name="parameters" element="tns:turnOffLEDResponse"/>
  </message>
  <portType name="Arduino">
    <operation name="turnOnLED">
      <input ns1:Action="http://interfaces/Arduino/turnOnLEDRequest" message="tns:turnOnLED" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://interfaces/Arduino/turnOnLEDResponse" message="tns:turnOnLEDResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ArduinoServiceException" name="ArduinoServiceException" ns3:Action="http://interfaces/Arduino/turnOnLED/Fault/ArduinoServiceException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="turnOffLED">
      <input ns4:Action="http://interfaces/Arduino/turnOffLEDRequest" message="tns:turnOffLED" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://interfaces/Arduino/turnOffLEDResponse" message="tns:turnOffLEDResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ArduinoServiceException" name="ArduinoServiceException" ns6:Action="http://interfaces/Arduino/turnOffLED/Fault/ArduinoServiceException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

